{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des produits</h1>

    <ul>
        {% for product in products %}
            <li>{{ product.libelle }}</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
